body{
    margin: 0px;
    font-family: "open_sansregular", Arial, Helvetica, sans-serif;
}

/*     PARTE DO CABEÇALHO       */
header{
    background-image: linear-gradient(to right,  rgb(7, 70, 7), rgb(8, 175, 8),rgb(8, 180, 8));/*GRADIENTE DO CABEÇALHO*/
    padding-top: 5%;/*DISTÂNCIA DA PARTE SUPERIOR DA PÁGINA*/
    color: white;/*COR DO TEXTO DO CABEÇALHO*/
    padding-bottom: 5%;
}

#ifpb{/*CONFIGURAÇÕES DA LOGO DO IFPB*/
    width: 100%;
    margin-right: 4%;
    border-radius: 5px;
    box-shadow: 1px 7px 30px rgb(77, 233, 46);/*BOX-SHADOW DO FUNDO DA IMAGEM*/
    background-color: rgb(8, 88, 8);
    padding: 10px;
    transition-property: transform, box-shadow;
    transition-duration: 1s;
}
#ifpb_link{
    width: 13%;
    height: 13%;
    padding-right: 5px;
}
#nom{
    font-size: 28px;/*TAMANHO DA FONTE DO NOME DA INSTITUIÇÃO*/
}
#abr{
    font-size: 57px;/*TAMANHO DA FONTE DA ABREVIAÇÃO*/
}
#me{
    font-size: 22px;/*TAMANHO DA FONTE DO "MINISTÉRIO DA EDU"*/
    margin-bottom: 15%;/*UMA MARGENZINHA*/
}
.cont_cab{/*CONFIGURAÇÕES GERAIS DO TEXTO E ORGANIZAÇÃO DO CABEÇALHO*/
    padding-top: 10px;
    padding-left: 23px;
    display: flex;/*DEIXAR AS COISAS ALINHADAS*/
    margin-left: 10%;
}
#divisao{/*ALGUMAS CONFIG EXPECIFICAS DA ORGANIZAÇÃO DOS TEXTOS DO CABEÇALHO*/
    border-left: solid 2px white;
    padding-left: 4%;
    padding-top: 18px;
    margin-left: 5%;
    width: auto;
}
#cont_bar{
 display: none;/*POR ENQUANTO FICA ASSIM...*/
}
.lateral_barra{/*CONFIGS GERAIS DA BARRA LATERAL*/
    text-align: center;
    background-color: rgb(3, 75, 3);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 0px 0px rgb(223, 216, 216);
    padding: 10px;
    transition-property: box-shadow;
    transition-duration: 1s;
}
.elemento_barra{/*CONFIGS GERAIS DO TEXTO DA BARRA LATERAL(BOTÕES)*/
    padding: 7.5px;
    font-size: 15px;
    background-color: rgb(3, 75, 3);
    transition-property: background-color;
    transition-duration: 0.5s;
    color: white;
    font-weight: bold;
}
#elemento1{/*CONFIG EXPECÍFICA DO ELEMENTO 1*/
    padding-right: 4%;
    padding-left: 4%;
}
#elemento2{/*CONFIG EXPECÍFICA DO ELEMENTO 2*/
    padding-left: 4%;
    padding-right: 4%;
    border-left: solid 2px white;
    border-right: solid 2px white;
}
#elemento3{/*CONFIG EXPECÍFICA DO ELEMENTO 3*/
    padding-left: 2%;
    padding-right: 2%;
   
}
.elemento_barra:hover{/*CONFIG PARA MUFAR A COR DO BACKGROUND*/
    background-color: rgb(45, 158, 11);/*MUDANÇA NO BACKGROUND*/
}
#ifpb:hover{/*CONFIG PARA O EFEITO DA LOGO DO IF*/
    transform: translateY(-10px);/*LEVANTA A LOGO -10px*/
    box-shadow: 1px 20px 20px rgb(50, 194, 20);/*ABAIXA O BOX-SHADOW E AUMENTA UM POUCO O ESPAÇAMENTO DE "BRILHO"*/
}
#sumario{
    margin-top: 7px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
    transition-property: display, background-color;
    transition-duration: 5s;
    text-align: center;
}
.link_sum{
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(17, 18, 29);
    border: solid 2px rgb(17, 18, 29);
    font-weight: bold;
    transition-property: background-color, border, color;
    transition-duration: 0.3s;
}
.p_sum{
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
}
.p_barra{
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}
#elemento1:hover ~ #sumario{
    display: block;
    background-color: rgb(45, 134, 45);
    border-top: solid 2px white;
    color: white;
}
.lateral_barra:hover{
    box-shadow: 0px 7px 10px rgb(146, 146, 146);
}
#sumario:hover{
    display: block;
    background-color: rgb(45, 134, 45);
    border-top: solid 2px white;
    color: white;
}
.link_sum:hover{
    background-color: rgb(45, 158, 11);
    border: solid 2px white;
    color: white;
}
#apres{
    padding-top: 13px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 13px;
}
#assunt{
    padding-top: 13px;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 13px;
}
#att{
    padding-top: 13px;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 13px;
}
#lik{
    padding-top: 13px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 13px;
}
.parte1{
    margin-left: 33%;
    
}
.parte2{
    margin-left: 33%;

}

/*    FORMATAÇÃO DO CONTEÚDO     */
#conteudo{
    margin-top: 40px;
    margin-left: 7%;
    margin-right: 7%;
    padding-left: 50px;
    padding-right: 50px;
    /*border-left: solid 5px rgb(3, 75, 3);
    border-right: solid 5px rgb(3, 75, 3);*/
    border-radius: 2px;
}
h1{
    margin: 0px;
    border-radius: 5px;
    font-size: 35px;
    text-align: center;
}
h1, h2{
    color: rgb(17, 18, 29);
    margin-bottom: 0px;
}
#hr_titulo{
    border: solid 2px rgb(3, 75, 3);
    margin-top: 0px;
    margin-bottom: 4%;
}
hr{
    margin: 0px;
    margin-bottom: 2%;
}
.text{
    color: rgb(17, 18, 29);
    margin-bottom: 5%;
}
footer{
    background-color: rgb(38, 134, 9);
    text-align: center;
    padding: 2.5%;
    margin-top: 20px;
    color: white;
    font-size: 18px;
}
#retangulo{
    padding: 2%;
    background-color: rgb(12, 90, 12);
}
#volt{
    text-decoration: none;
    color: rgb(146, 146, 146);
    margin-left: 70%;
    font-weight: bold;
    font-size: 15px;
}
.parte1, .parte2{
    display: flex;
}
#t_exer{
    margin-bottom: 0px;
}
abbr{
    text-decoration: underline;
}
ul{
    margin: 0px;
    margin-bottom: 5%;
}
#t_assunto{
    margin-bottom: 15px;
}

