body{
    margin: 0px;
    font-family: "open_sansregular", Arial, Helvetica, sans-serif;
}

/*     PARTE DO CABEÇALHO       */
header{
    background-image: linear-gradient(to right,  rgb(7, 70, 7), rgb(8, 175, 8),rgb(8, 180, 8));/*GRADIENTE DO CABEÇALHO*/
    padding-top: 5%;/*DISTÂNCIA DA PARTE SUPERIOR DA PÁGINA*/
    color: white;/*COR DO TEXTO DO CABEÇALHO*/
    padding-bottom: 3%;
}

#ifpb{/*CONFIGURAÇÕES DA LOGO DO IFPB*/
    width: 100%;
    margin-right: 4%;
    border-radius: 5px;
    box-shadow: 1px 7px 30px rgb(77, 233, 46);/*BOX-SHADOW DO FUNDO DA IMAGEM*/
    background-color: rgb(8, 88, 8);
    padding: 10px;
    transition-property: transform, box-shadow;
    transition-duration: 1s;
}
#ifpb_link{
    width: 13%;
    height: 13%;
    padding-right: 5px;
}
#nom{
    font-size: 28px;/*TAMANHO DA FONTE DO NOME DA INSTITUIÇÃO*/
}
#abr{
    font-size: 57px;/*TAMANHO DA FONTE DA ABREVIAÇÃO*/
}
#me{
    font-size: 22px;/*TAMANHO DA FONTE DO "MINISTÉRIO DA EDU"*/
    margin-bottom: 15%;/*UMA MARGENZINHA*/
}
.cont_cab{/*CONFIGURAÇÕES GERAIS DO TEXTO E ORGANIZAÇÃO DO CABEÇALHO*/
    padding-top: 10px;
    padding-left: 23px;
    display: flex;/*DEIXAR AS COISAS ALINHADAS*/
    margin-left: 10%;
}
#divisao{/*ALGUMAS CONFIG EXPECIFICAS DA ORGANIZAÇÃO DOS TEXTOS DO CABEÇALHO*/
    border-left: solid 2px white;
    padding-left: 4%;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-left: 5%;
    width: auto;
}
.lateral_barra{/*CONFIGS GERAIS DA BARRA LATERAL*/
    text-align: center;
    background-color: rgb(3, 75, 3);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 0px 0px rgb(223, 216, 216);
    padding: 10px;
    transition-property: box-shadow;
    transition-duration: 1s;
}
.elemento_barra{/*CONFIGS GERAIS DO TEXTO DA BARRA LATERAL(BOTÕES)*/
    padding: 7.5px;
    font-size: 15px;
    background-color: rgb(3, 75, 3);
    transition-property: background-color;
    transition-duration: 0.5s;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
#elemento1{/*CONFIG EXPECÍFICA DO ELEMENTO 2*/
    padding-left: 4%;
    padding-right: 4%;
}
#elemento2{/*CONFIG EXPECÍFICA DO ELEMENTO 3*/
    padding-left: 4%;
    padding-right: 4%;
    border-right: solid 2px white;
    border-left: solid 2px white;
}
#elemento3{
    padding-left: 4%;
    padding-right: 4%;
}
.elemento_barra:hover{/*CONFIG PARA MUFAR A COR DO BACKGROUND*/
    background-color: rgb(45, 158, 11);/*MUDANÇA NO BACKGROUND*/
}
#ifpb:hover{/*CONFIG PARA O EFEITO DA LOGO DO IF*/
    transform: translateY(-10px);/*LEVANTA A LOGO -10px*/
    box-shadow: 1px 20px 20px rgb(50, 194, 20);/*ABAIXA O BOX-SHADOW E AUMENTA UM POUCO O ESPAÇAMENTO DE "BRILHO"*/
}
.link_button{/*CONFIG DOS BOTÕES DO MENU*/
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(17, 18, 29);
    border: solid 2px rgb(17, 18, 29);
    font-weight: bold;
    transition-property: background-color, border, color;
    transition-duration: 0.3s;
    cursor: pointer;
}
.p_sum{/*CONFIG DE ESPAÇAMENTO DOS BOTÕES*/
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
}
.p_barra{/*ESPAÇAMENTO DA BARRA*/
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}
.lateral_barra:hover{/*EFEITO DE SOMBRA QUANDO O MOUSE ESTÁ POSICIONADO SOBRE O MENU*/
    box-shadow: 0px 7px 10px rgb(146, 146, 146);
}
.link_button:hover{/*EFEITO DE QUANDO O MOUSE ESTÁ ENCIMA DO BOTÃO*/
    background-color: rgb(45, 158, 11);
    border: solid 2px white;
    color: white;
}
#button_1{/*BOTÕES TIPO 1*/
    padding-top: 13px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 13px;
    cursor: pointer;
}
#button_2{/*BOTÕES TIPO 2*/
    padding-top: 13px;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 13px;
    cursor: pointer;
}
#button_3{/*BOTÕES TIPO 3*/
    padding-top: 13px;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 13px;
    cursor: pointer;
}
#button_4{/*BOTÕES TIPO 4*/
    padding-top: 13px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 13px;
    cursor: pointer;
}
.parte1{/*DIVISÃO DOS BOTÕES*/
    text-align: center;
    
}
.parte2{/*DIVISÃO DOS BOTÕES*/
    text-align: center;

}
.esp{/*ESPAÇAMENTO (CENTRALIZAÇÃO)*/
    display: grid;
    place-items: center;
}
.red_soc{/*REDES SOCIAIS*/
    width: 3%;
    display: flex;
    float: right;
    margin-right: 15px;
    border-radius: 5px;
    transition-duration: 1s;
    transition-property: transform;
}
.links_comp{/*LINKS DAS REDES SOCIAIS*/
    margin-bottom: 5px;
    background-color: black;
}
#exercicios{/*DIV DOS BOTÕES DE EXERCÍCIOS*/
    margin-top: 7px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
    transition-property: display, background-color;
    transition-duration: 5s;
    text-align: center;
}
#assuntos{/*DIV DOS BOTÕES DE ASSUNTOS*/
    margin-top: 7px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
    transition-property: display, background-color;
    transition-duration: 5s;
    text-align: center;
}

#elemento1:hover ~ #exercicios{/*INTERAÇÃO COM O BOTÃO E DIV DE EXERCÍCIOS*/
    display: block;
    background-color: rgb(45, 134, 45);
    border-top: solid 2px white;
    color: white;
}
#exercicios:hover{/*TAMBÉM É INTERAÇÃO*/
    display: block;
    background-color: rgb(45, 134, 45);
    border-top: solid 2px white;
    color: white;
}
#elemento3:hover ~ #assuntos{/*INTERAÇÃO COM O BOTÃO E A DIV DE ASSUNTOS*/
    display: block;
    background-color: rgb(45, 134, 45);
    border-top: solid 2px white;
    color: white;
}
#assuntos:hover{/*TAMBÉM É INTERAÇÃO*/
    display: block;
    background-color: rgb(45, 134, 45);
    border-top: solid 2px white;
    color: white;
}
#inst, #face{/*TAMANHO DAS LOGOS DE INSTAGRAM E FACEBOOK*/
    width: 2.5%;
}
#inst{/*ESPAÇAMENTO DO ICON DO INSTAGRAM*/
    margin-right: 7%;
}
.red_soc:hover{/*INTERAÇÃO COM OS ICONES DAS REDES SOCIAIS*/
    transform: translateY(-15px);
}
#oque_e{/*CONFIG DA DIV DE O QUE É O IFENEM*/
    margin-top: 6px;
    display: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition-property: background-color, display;
    transition-duration: 5s;
}
#elemento2:hover ~ #oque_e{/*INTERAÇÃO COM A DIV DE O QUE É IFENEM*/
    display: block;
    background-color: rgb(45, 134, 45);
    border-top: solid 2px white;
}
#oque_e:hover{/*TAMBÉM É INTERAÇÃO*/
    display: block;
    background-color: rgb(45, 134, 45);
    border-top: solid 2px white;
}
/*    FORMATAÇÃO DO CONTEÚDO     */
#conteudo{/*CONFIG GERAL DO CONTEUDO*/
    margin-top: 40px;
    margin-left: 7%;
    margin-right: 7%;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 2px;
}
h1{/*CONFIG DO TÍTULO PRINCIPAL*/
    margin: 0px;
    border-radius: 5px;
    font-size: 35px;
    text-align: center;
}
h1, h2{/*CONFIG DOS TÍTULOS (GERAL)*/
    color: rgb(17, 18, 29);
    margin-bottom: 0px;
    font-family: Galano, Arial, sans-serif;
}
#hr_titulo{/*TÍTULO DO HR DE BAIXO DO TÍTULO*/
    border: solid 2px rgb(3, 75, 3);
    margin-top: 0px;
    margin-bottom: 4%;
}
hr{/*CONFIG DO HR (GERAL)*/
    margin: 0px;
    margin-bottom: 2%;
}

footer{/*CONFIG DO RODAPÉ*/
    background-color: rgb(38, 134, 9);
    text-align: center;
    padding: 2.5%;
    margin-top: 20px;
    color: white;
    font-size: 18px;
}
#volt{/*CONFIG DO "VOLTAR PARA O TOPO"*/
    text-decoration: none;
    color: rgb(146, 146, 146);
    margin-left: 70%;
    font-weight: bold;
    font-size: 15px;
}
.parte1, .parte2{/*DISPLAY FLEX DOS BOTÕES DO MENU (PQ ISSO TÁ AQUI???)*/
    display: flex;
}
